{% load static %}<!DOCTYPE html>
<html>
<head>
    <title>{{ PageTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body onload="document.myform.gorev.focus();">
<div class="container">
<form method="post" name="myform">
    {% csrf_token %}
<div id="myDIV" class="header">
  <h2 class="baslik">{{ PageTitle }}</h2>
  {{ form }}
  <input type="submit" onclick="newElement()" class="addBtn" value="Ekle"/>
</div>
</form>
{% if hata %}
    <div class="alert alert-warning"> {{ hata|unordered_list }}</div>
{% endif %}

<ul id="myUL">
    <li>Hit the gym || 27.01.2018</li>
    <li class="checked">Pay bills</li>
</ul>
</div>

<script src="{% static 'js/index.js' %}"></script>

</body>
</html>