{% load static %}<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<form method="post"> {% csrf_token %}
<div id="myDIV" class="header">
  <h2 class="baslik">{{ PageTitle }}</h2>
  {{ form }}
  <button type="submit" onclick="newElement()" class="addBtn">Ekle</button>
</div>
</form>

<ul id="myUL">
  <li>Hit the gym - 27.01.2018</li>
  <li class="checked">Pay bills</li>
</ul>
<script src="{% static 'js/index.js' %}"></script>

</body>
</html>